<title>Steven Lunn | Audio/Video & Lighting Services</title>
<!--
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
-->

    <!-- Bootstrap -->
	<!--<script src="http://code.jquery.com/jquery.min.js"></script>-->
    <!--<script src="js/bootstrap.min.js"></script>-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	<meta name="google-site-verification" content="zeL65A2Z5CWVGQxtYPimQcfS7XcvAsvc3f9lBO-7RNw" />	
	<meta name="description" content="Halifax DJ company Elite Disc Jockey Systems provides DJs and disc jockey services for weddings, proms, school dances and special/corporate events in Halifax, Dartmouth and Bedford, Nova Scotia Canada."/>
        
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js""></script>	
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-social/bootstrap-social.css"/>
	<link href="/stylesheets/bootstrap-social/assets/css/docs.css" rel="stylesheet" type="text/css"/>
	<link href="/stylesheets/bootstrap-social/assets/css/font-awesome.css" rel="stylesheet" type="text/css">
    <!--<link href="/resources/bootstrap-social/bootstrap-social.css" rel="stylesheet" type="text/css"> 
    <link href="/resources/bootstrap-social/assets/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="/resources/bootstrap-social/assets/css/docs.css" rel="stylesheet" type="text/css">-->
