<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
	<style type="text/css">
		.col-md-4 {
			  margin-bottom: 40px;
			  text-align: center;
		}
	</style>
</head>
	<body>

		<div class="jumbotron" style="height:500px; background:url('/speaker_grid.png') no-repeat; background-size:100%;">
			<h1>Steven LUNN</h1>
			<p>Audio Visual & Disc Jockey Services</p>
			<p>Steven LUNN provides professional Audio Visual, Disc Jockey & Video Jockey services throughout Nova Scotia and New Brunswick. The best VALUE in the industry!</p>
			<p>902.497.0727</p>
			<p>info@stevenlunn.ca</p>
		</div>   

	
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-4">
					<img class="img-circle" src="/wedding.jpg" alt="Weddings image" width="140" height="140">            
					<h4>Weddings</h4>
					<p>On the most special and often the most anticipated day of your life your guests will remember the reception as the place where fun was had and memories were made. The first waltz, the laughter and, of course, the dancing will be what is remembered for years.</p>
					<p>On the most important day of your life you want a Disc Jockey with a proven track record; someone who knows the music of generations; someone who can provide a fun atmosphere. Steven Lunn can provide all of those things and more guaranteed.</p>
				</div>
		
				<div class="col-sm-12 col-md-4">
					<img class="img-circle" src="/corpevents.jpg" alt="Corporate Events image" width="140" height="140">            
					<h4>Corporate/Special Events</h4>
					<p>Whether you need a DJ, an AV technician to operate sound, lights and projection systems or simply some equipment rentals to supplement your special event, Steven Lunn help you make your special event a success by ensuring that you don’t have to be worried about the tedious audio/visual details.</p>
				</div>
			
				<div class="col-sm-12 col-md-4">
					<img class="img-circle" src="/contact.jpg" alt="Contact Us image" width="140" height="140">            
					<h4>Contact Us</h4>
					<p>Phone:&nbsp;<a href="tel:+19024970727">1-902-497-0727</a></p>
					<p>Email:&nbsp;<a href="Info@StevenLunn.ca">Info@StevenLunn.ca</a></p>
					<p>Office Hours:<br>Monday-Friday, 10am-7pm<br>Saturday/Sunday, 11am-5pm</p>
					<p>Facebook:&nbsp;<a href="https://www.facebook.com/elitedjav">https://www.facebook.com/elitedjav</a></p>
					<a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
				</div>            				
			</div>			
   		</div>   		
   			 
	</body>    
</html>